.modal-show {
  overflow: hidden;
}
.scroll-hide {
  padding-right: 17px;
}

.modal-layer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: var(--second-color);
  background-color: rgba(128, 128, 128, 0.6);
  z-index: 1001;
}

.modal-root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  max-width: 600px;
  height: 100%;
}

.modal-content {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  min-width: 300px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  border-bottom: 1px solid #e9ecef;
  font-weight: 700;
  font-size: 1.75rem;
}

.modal-body {
  padding: 0.8rem;
  font-size: 1.5rem;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 0.8rem;
  border-top: 1px solid #e9ecef;
}

.modal-footer > *:first-child {
  margin-right: 10px;
}

.close-btn {
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
}

.close-btn:hover {
  color: #5d5656;
}

.edit-message-input {
  width: 500px;
  height: 300px;
  font-size: 1.35rem;
}
